[Unit]
Description=RClone2 Service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Environment=RCLONE_CONFIG=/root/.config/rclone/rclone.conf
KillMode=none
RestartSec=5
ExecStart=/usr/bin/rclone mount gcrypt2: /mnt/drive2 \
--allow-other \
--dir-cache-time 1000h \
--log-level INFO \
--log-file /opt/rclone/logs/rclone2.log \
--poll-interval 15s \
--user-agent annon \
--timeout 1h \
--umask 002 \
--rc \
--rc-addr 127.0.0.1:5574
ExecStop=/bin/fusermount -uz /mnt/drive2
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
